*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --primary-font-color: #222;
    --secondary-font-color: #fff;
    --primary-background-color: #fff;
    --secondary-background-color: #E2E3FA;
    --tertiary-background-color: #968beb;
    --primary-btn-color: #968beb;

}

body {
    color: var(--primary-font-color);
    font-family: sans-serif;
    line-height: 1.75;
}

h1 {
    font-size: 4.25rem;
}

h2 {
    font-size: 2.75rem;
}

p {
    font-size: 1.75rem;
}

img {
    width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    font-size: 1.25rem;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary-btn-color);
}

.primary-highlighted-text {
    color: #968beb;
}

.secondary-highlighted-text {
    color: #F57798;
}

/* Intro Section */

.intro-container {
    background-color: var(--secondary-background-color);
}

.intro {
    border: 2px solid red;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.intro-details p {
    margin: 1rem 0 2.5rem;
}

/* Media Query */
@media (min-width: 750px) {
    .intro {
        flex-direction: row;
    }
}

/* Best sellers Section */
.best-sellers-container {
    background-color: var(--secondary-background-color);
}

.best-sellers {
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
}

.best-sellers-grid {
    margin-top: 1rem;
    border: 2px solid red;
    display: grid;
    gap: 5rem;
}

.best-seller-product {
    background-color: var(--tertiary-background-color);
    border-radius: 5px;
}

@media (min-width: 750px) {
    .best-sellers-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}