*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: sans-serif;
    line-height: 1.75;
}

.primary-highlight {
    color: #A5A0ED;
}

.secondary-highlight {
    color: #F57798;
}

nav {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0; 
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #A5A0ED;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-link {
    margin-left: 25px;
    color: inherit;
    text-decoration: none;
}

.active {
    color: #F57798;
}

.intro-container {
    background-image: linear-gradient(45deg, #EDECFC, #D8D2F6);
}

.intro {
    width: 95%;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro div {
    width: 50%;
}

.intro-details p {
    margin: 20px 0;
}

.intro-image img {
    width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    color: #222;
    background-color: #A5A0ED;
}

.btn-secondary {
    color: #fff;
    background-color: #F57798;
}

.present-btn {
    margin-right: 15px;
}

.features-container {
    background: #fff;
}

.features {
    width: 95%;
    margin: 0 auto;
    border: 2px solid red;
}

.feature-cards-container {
    display: flex;
    justify-content: space-between;
}