*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --primary-font-color: #222;
    --secondary-font-color: #fff;
    --tertiary-font-color: #968beb;
    --primary-background-color: #fff;
    --secondary-background-color: #E2E3FA;
    --tertiary-background-color: #968beb;
    --primary-btn-color: #968beb;
}

body {
    color: var(--primary-font-color);
    font-family: sans-serif;
    line-height: 1.75;
}

h1 {
    font-size: 4.25rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.25rem;
}

p {
    font-size: 1.5rem;
}

a {
    color: inherit;
    font-size: 1.5rem;
}

img {
    width: 100%;
    object-fit: cover;
}

.logo {
    color: var(--tertiary-font-color);
    font-size: 2.75rem;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    font-size: 1.25rem;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary-btn-color);
}

.primary-highlighted-text {
    color: #968beb;
}

.secondary-highlighted-text {
    color: #F57798;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    background-color: var(--primary-background-color);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.nav-list-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
}

.nav-link-active {
    color: #F57798;
}

.menu div {
    width: 25px;
    height: 3.5px;
    margin: 5px;
    background-color: var(--tertiary-background-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-active div:nth-child(1) {
    transform: translateY(4.5px) rotate(45deg);
}

.menu-active div:nth-child(2) {
    transform: translateY(-4.5px) rotate(-45deg);
}

@media (min-width: 825px) {
    .navbar {
        flex-direction: row;
    }

    .nav-list {
        position: static;
        width: auto;
        padding: 0;
        flex-direction: row;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    .menu {
        display: none;
    }
}

main {
    margin-top: 7rem;
}

/* Intro Section */
.intro-container {
    background-color: var(--secondary-background-color);
}

.intro {
    border: 2px solid red;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.intro-details p {
    margin: 1rem 0 2.5rem;
}

/* Media Query */
@media (min-width: 750px) {
    .intro {
        flex-direction: row;
    }
}

/* Features Section */
.features-container {
    background-color: var(--primary-background-color);
}

.features {
    border: 2px solid magenta;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
}

.features-grid {
    margin-top: 2.5rem;
    display: grid;
    gap: 5rem;
}

.feature {
    padding: 5rem 2.5rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.feature i {
    color: var(--tertiary-font-color);
    font-size: 3.25rem;
}

.feature h3 {
    margin: 1rem 0;
}

@media (min-width: 625px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1275px) {
    .features-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Best sellers Section */
.best-sellers-container {
    background-color: var(--secondary-background-color);
}

.best-sellers {
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
}

.best-sellers-grid {
    margin-top: 2.5rem;
    border: 2px solid red;
    display: grid;
    gap: 5rem;
}

.best-seller-product {
    background-color: var(--tertiary-background-color);
    border-radius: 5px;
}

@media (min-width: 750px) {
    .best-sellers-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Customer Comments Section */
.customer-comments-container {
    background-color: var(--primary-background-color);
}

.customer-comments {
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
}

.customer-comment {
    position: relative;
    margin: 2.5rem auto 0 auto;
    max-width: 625px;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.customer-comment::before {
    content: "\201C";
    font-size: 10rem;
    position: absolute;
    top: -60px;
    left: 20px;
    color: #F57798;
}

.customer-comment h3 {
    margin: 1rem 0;
    color: var(--tertiary-font-color);
    font-weight: bold;
}

.customer-comment p:nth-child(3) {
    font-size: 2rem;
    letter-spacing: 1.25rem;
}

/* Sale Section */
.sale-container {
    background-color: var(--secondary-background-color);
}

.sale {
    border: 2px solid red;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.sale-details p {
    margin: 1rem 0 2.5rem;
}

.sale-image {
    border-radius: 5px;
    border: 2px solid green;
    background-color: var(--tertiary-background-color);
}

@media (min-width: 750px) {
    .sale {
        flex-direction: row;
    }
}

/* App Section */
.app-container {
    background-color: var(--primary-background-color);
}

.app {
    border: 2px solid red;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.app-image {
    border-radius: 5px;
    border: 2px solid green;
    background-color: var(--tertiary-background-color);
}

.app-details img {
    width: 250px;
}

@media (min-width: 750px) {
    .app {
        flex-direction: row;
    }
}

/* Newsletter Section */
.newsletter-container {
    background-color: var(--secondary-background-color);
}

.newsletter {
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
}

.signup {
    margin-top: 2.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--tertiary-background-color);
}

.signup p:nth-child(2) {
    margin: 1rem 0;
}

@media (min-width: 750px) {
    .signup {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* Footer */
footer {
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
}

.footer-links {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}